#mfw-microdata-form-items {
	width: 623px;
	border: 1px solid #DFDFDF;
}
#mfw-microdata-uploader label {
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
}
#mfw-microdata-uploader input[type="text"],#mfw-microdata-uploader textarea {
	width: 460px;
	border: 1px solid #DFDFDF;
	float: right;
	line-height: 15px;
	margin: 1px;
	padding: 3px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#mfw-microdata-uploader textarea {
	height: 100px;
}
#mfw-microdata-uploader input[type='text']:focus,#mfw-microdata-uploader input.text:focus,#mfw-microdata-uploader input[type='password']:focus,#mfw-microdata-uploader textarea:focus {
	background-color: #eee;
	border-color: #ccc;
	color: #383f41;
	-webkit-box-shadow: 0 0 5px rgba(160,160,112,0.6);
}
#mfw-microdata-uploader select {
	background: none repeat scroll 0 0 white;
	border: 1px solid #AAA;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	color: black;
	padding: 4px;
	border-image: initial;
}

#mfw-microdata-uploader .button {
	display: inline-block;
	zoom: 1;/* zoom and *display = ie7 hack for display:inline-block */
	*display:inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial,Helvetica,sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#mfw-microdata-uploader .button:hover {
	text-decoration: none;
}
#mfw-microdata-uploader .button:active {
	position: relative;
	top: 1px;
}
#mfw-microdata-uploader .bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
#mfw-microdata-uploader .medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
#mfw-microdata-uploader .small {
	font-size: 11px;
	padding: .4em .4em .4em;
}
#mfw-microdata-uploader .orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));
	background: -moz-linear-gradient(top,#faa51a,#f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',endColorstr='#f47a20');
}
#mfw-microdata-uploader .orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015));
	background: -moz-linear-gradient(top,#f88e11,#f06015);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',endColorstr='#f06015');
}
#mfw-microdata-uploader .orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear,left top,left bottom,from(#f47a20),to(#faa51a));
	background: -moz-linear-gradient(top,#f47a20,#faa51a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20',endColorstr='#faa51a');
}
.optimum7-microdata h2 {
	margin-bottom: 0 !important;
	font-size: 18px;
}
.optimum7-microdata p {
	margin-bottom: 0 !important;
}